@import url(https://fonts.googleapis.com/css?family=Gudea);
html {
    background: #EA5C54;
    background: linear-gradient(135deg, #EA5C54 0%, #bb6dec 100%);
    background-repeat: no-repeat;
    min-height: 100%;
}

body {
    font-family: 'Gudea', sans-serif;
    margin: 0;
    padding: 0;
}

footer {
    font-size: 12px;
    color: white;
    width: 310px;
    position: relative;
    float: right;
    right: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}

#login-form {
    background: #242734;
    margin: 100px auto 90px;
    width: 290px;
    height: auto;
}

#login-form div:nth-child(1) {
    padding: 80px 0 40px 35px;
    color: rgb(175, 177, 190);
    font-size: 16px;
}

input[type='text'],
input[type='password'] {
    background: rgb(50, 54, 74);
    color: #afb1be;
    border-top: 2px solid rgb(57, 61, 82);
    border-bottom: 2px solid rgb(57, 61, 82);
    border-right: none;
    border-left: none;
    box-shadow: none;
    width: 220px;
    margin-top: -2px;
    padding: 10px 35px;
    outline: none;
}

form {
    margin-bottom: 45px;
}

form a {
    font-size: 10px;
    color: rgb(96, 100, 121);
}

form a:hover {
    color: rgb(175, 177, 190);
}

.register {
    font-size: 12px;
    color: rgb(96, 100, 121);
    text-align: center;
}

.register a {
    color: rgb(96, 100, 121);
    margin-left: 15px;
}

.register a:hover {
    color: rgb(175, 177, 190);
}

#login-form p {
    width: 200px;
    font-size: 10px;
    color: rgb(96, 100, 121);
    padding: 20px 0;
    margin: auto;
}

#log-in {
    background: transparent;
    color: #DC6180;
    font-size: 10px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 10px;
    padding: 8px 45px;
    border-radius: 50px;
    border: 1px solid #DC6180;
    transition-property: background, color;
    transition-duration: .3s;
    outline: none;
}

#log-in:hover {
    color: white;
    background: #DC6180;
    cursor: pointer;
    transition-property: background, color;
    transition-duration: .3s;
}